
<!-- <h4> {{item.itemType | uppercase }}</h4>
<div>{{item.text}}</div>
<div>Price : {{item.price}}</div> -->


<ul class="item">
  <li *ngFor = "let i of item">
    <span>{{i.itemType}} - {{i.text}} - Rs{{i.price}}</span>
  </li>

</ul>

<!-- <table style="width:100%" class="item">
  <tr *ngFor = "let i of item">
   <td>{{i.itemType}} - {{i.text}} - Rs{{i.price}}</td>
   </tr>
 </table> -->

<!--
 <table >
  <tr>
    <th *ngFor="let col of columns"> {{col}}</th>
  </tr>
  <tr *ngFor="let r of rows">
    <td *ngFor="let col of columns"> {{r[col]}}</td>
  </tr>
</table> -->
